/*Header animation*/
/*Desktop*/
#site-header.scrolling-active{
	background-color: #fff;
	position: fixed;
    transition: background 0.5s;
}
#site-header.scrollmenu{
  background-color: #fff;
}
#menu-primair-menu.scrolling-nav>li>a:active>span{
	color:#0088F7;
}
#menu-primair-menu.scrolling-nav>li:hover>a>span{
	color:#0088F7;
	text-shadow: 1px 1px 2px "grey";
	transition: 0.5s;
}
#menu-primair-menu.scrolling-nav>li>a>span{
	color:#545454;
	transition: color 0.5s;
}
/*Tablet-phone*/
.scrolling-active>a>span{
	color:#545454;
    transition: color 0.5s;
}
.scrolling-active:hover>a>span{
	color:#0088F7;
    transition: color 0.5s;
}
.scrolling-active>a>i{
	color:#545454;
    transition: color 0.5s;
}
.scrollmenu>a>i{
  color:#545454;
    transition: color 0.5s;
}
.scrollmenu>a>span{
  color:#545454;
    transition: color 0.5s;
}
.scrolling-active:hover>a>i{
	color:#0088F7;
    transition: color 0.5s;
}




*{
  margin:0;
  padding: 0;
  font-family: 'Poppins' sans-serif;
}
body{
  min-height: 2500px;
  margin: 0;
  background: #fff;
}
.parallaxScroll{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.parallaxScroll img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

#dolfijn, #vrouw1, #man1, #vrouw2{
  position: absolute;
  object-fit: contain;
}

#man1{
  margin-top: 20%;
  left: 0;
  z-index: 2;
  width: 15vw;
}
#vrouw1{
  right: 0;
  bottom: 100px;
  width: 15vw;
}
#dolfijn{
  margin-top: 40%;
  left: 0;
  width: 6vw;
}
#vrouw2{
  right: 0;
  margin-right: -40%;
  width: 10vw;
  margin-right: -20%;
}

.teksten{
  display: inline-block;
  text-align: center;
  z-index: 5;
}
#text{
  position: relative;
  color: #fff;
  z-index: 5;
  font-size: 5em;
  text-shadow: 4px 4px 10px rgba(18,18,18,0.7);
}
#text2{
  position: relative;
  color: #fff;
  z-index: 5;
  font-size: 2em;
  text-shadow: 4px 4px 10px rgba(18,18,18,0.7);
}
#bubbles{
  width: 10vw;
  position: absolute;
  margin-bottom: -60%;
  bottom: 0;
  left: 0;
  object-fit: contain;
}
#bubbles2{
  width: 10vw;
  position: absolute;
  margin-bottom: -50%;
  bottom: 0;
  right: 0;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  #text{
    font-size: 3.5em;
  }
  #text2{
    z-index: 5;
    font-size: 2.5em;
  }
  #man1{
    width: 40vw;
    margin-left: -10%;
  }
  #vrouw1{
    width: 30vw;
    margin-right: -10%;
  }
  #vrouw2{
    width: 20vw;
    margin-right: -10%;
  }
  #bubbles{
    width: 20vw;
    margin-bottom: -140%;;
  }
  #bubbles2{
    width: 20vw;
    margin-bottom: -120%;
  }
}

@media only screen and (max-width: 768px) {
  #text{
    font-size: 3em;
  }
  #text2{
    z-index: 5;
    font-size: 1.5em;
  }
  #man1{
    width: 30vw;
  }
  #dolfijn{
    width: 15vw;
    margin-right: -200px;
  }
  #vrouw1{
    width: 25vw;
  }
  #vrouw2{
    width: 15vw;
  }
  #bubbles{
    width: 15vw;
    margin-bottom: -90%;
  }
  #bubbles2{
    width: 15vw;
    margin-bottom: -100%;
  }
}

@media only screen and (max-width: 375px) {
  #text{
    font-size: 2.2em;
  }
  #text2{
    z-index: 5;
    font-size: 1em;
  }
  #man1{
    width: 40vw;
    margin-left: -150px;
  }
  #dolfijn{
    margin-top: 200px;
    margin-right: -200px;
    width: 20vw;
  }
  #vrouw1{
    width: 40vw;  
    margin-right: -150px;
  }
  #vrouw2{
    width: 30vw;  
    margin-right: -120px;
  }
  #bubbles{
    width: 20vw;
    margin-bottom: -180%;
  }
  #bubbles2{
    width: 20vw;
    margin-bottom: -150%;
  }
}




/*de shapedivider animaties*/
body {
     overflow-x:hidden;
     font-family: 'Poppins' , sans-serif;
} 
.elementor-shape-bottom {
     bottom: -1px;
     animation: wave 32s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
     width: 210%;
 } 

@keyframes wave {
   0% {
     margin-left: 0;
   }
     50% {
     margin-left: -1600px;
   }
   100% {
     margin-left: 0px;
   }
 }  
